body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div.results {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

button {
    
}